@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Didact+Gothic&display=swap');

:root {
    --fonte-titulos: "Alumni Sans", sans-serif;
    --fonte-geral: "Didact Gothic", sans-serif;
    --verde-escuro: #2A4933;
    --verde-container: #C3FFD4;
    --verde-container-secundario: #99CCA7;
    --cinza-habilidades: #ABCDB4;
    --verde-habilidades: #84A78E;
}

* {
    margin: 0;
    padding: 0;
    color: var(--verde-escuro);
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(50deg, rgba(57, 97, 77, 1) 25%, rgba(121, 163, 119, 1) 71%, rgba(167, 211, 151, 1) 100%);
    background-attachment: fixed;
}

.main-body{
    margin: 2% 8%;
}

.sombra-container{
    -webkit-box-shadow: 0px 0px 18px -7px var(--verde-escuro);
    -moz-box-shadow: 0px 0px 18px -7px var(--verde-escuro);
    box-shadow: 0px 0px 18px -7px var(--verde-escuro);
}

.ativo{
    background-color: var(--verde-habilidades);
    border-radius: 5px;
    color: var(--verde-container);
}

strong{
    color: var(--verde-escuro);
}

/* NAVEGAÇÃO */

nav {
    display: flex;
    justify-content: end;
}

.nav-container {
    width: fit-content;
    background-color: var(--verde-container);
    padding: 0 0.30em;
    border-radius: 8px;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav li {
    cursor: pointer;
    font-family: var(--fonte-geral);
    list-style: none;
    padding: 0.2em 1.2em;
    height: 100%;
    width: fit-content;
}

nav img {
    height: 35px;
}

/*ASIDES*/

section{
    display: flex;
    justify-content: space-between;
    margin-top: 7%;
}

aside{
    background-color: var(--verde-container);
    border-radius: 10px;
    max-height: 70vh;
}

/* ASIDE ESQUERDO */

.aside-esquerda{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

.img-perfil{
    height: 160px;
    position: relative;
    top: -72px;
}

.aside-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -65px;
    margin: 0 10px 25px 10px;
    height: fit-content;
}

.informacoes-container{
    background-color: var(--verde-container-secundario);
    width: fit-content;
    padding: 0 15px;
    margin-top: 20px;
    border-radius: 5px;
    padding-bottom: 15px;
}

.informacoes-item{
    margin-top: 15px;
}

.titulo{
    font-family: var(--fonte-titulos);
    font-weight: 600;
    font-size: 17px;
}

.subtitulo{
    font-family: var(--fonte-geral);
    font-size: 15px;
    cursor: pointer;
}

.subtitulo:hover{
    text-decoration: underline;
}

.titulo img{
    height: 18px;
    margin-left: 5px;
}

h3{
    font-family: var(--fonte-titulos);
    font-size: 25px;
}

h4{
    font-family: var(--fonte-geral);
    font-weight: 100;
}

/* ASIDE DIREITA*/

.aside-direita{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

/* CONTEÚDO GERAL*/

h1{
    font-family: var(--fonte-titulos);
    font-size: 37px;
    text-transform: uppercase;
    text-decoration: underline;
    margin-bottom: 30px;
}

.conteudo p{
    font-family: var(--fonte-geral);
}

.margem-p{
    margin-top: 13px;
}