@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Didact+Gothic&display=swap");

:root {
  --fonte-titulos: "Alumni Sans", sans-serif;
  --fonte-geral: "Didact Gothic", sans-serif;
  --verde-escuro: #2a4933;
  --verde-container: #c3ffd4;
  --verde-container-secundario: #99cca7;
  --cinza-habilidades: #abcdb4;
  --verde-habilidades: #84a78e;
}

::selection {
  background-color: var(--verde-escuro);
  color: lightgreen;
}

* {
  margin: 0;
  padding: 0;
  color: var(--verde-escuro);
  scrollbar-width: thin;
  scrollbar-color: var(--verde-escuro) var(--cinza-habilidades);
  scroll-behavior: smooth;
}

/* SCROOL BAR */

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--cinza-habilidades);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--verde-escuro);
  border-radius: 20px;
  border: 3px solid var(--cinza-habilidades);
}

/*BODY */

.main-body {
  margin: 0 8%;
}

body {
  background: linear-gradient(
    45deg,
    rgb(39, 71, 55) 25%,
    rgb(90, 129, 88) 60%,
    rgb(202, 243, 187) 100%
  );
  background-attachment: fixed;
  height: 98vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: 200% 200%;
  animation: color 8s ease-in-out infinite;
  position: fixed;
}

@keyframes color {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

/* ESTÁTICOS */

li, img, .titulo{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a{
  text-decoration: none;
}

h6{
  color: var(--cinza-habilidades);
  font-family: var(--fonte-geral);
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 28px;
}

strong {
  color: var(--verde-escuro);
}

/* FUNÇÕES GERAIS */

.sombra-container {
  -webkit-box-shadow: 0px 0px 18px -7px var(--verde-escuro);
  -moz-box-shadow: 0px 0px 18px -7px var(--verde-escuro);
  box-shadow: 0px 0px 18px -7px var(--verde-escuro);
}

.ativo {
  background-color: var(--verde-habilidades);
  border-radius: 5px;
  color: var(--verde-container);
}

.bold{
  font-weight: 600;
}

/* ALERTA ÁREA DE TRANSFERENCIA */

.alerta{
  background-color: var(--verde-escuro);
  width: 17vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 23px 30px;
  border-radius: 8px;
}

button{
  padding: 6px 15px;
  background-color: var(--cinza-habilidades);
  color: var(--verde-escuro);
  font-family: var(--fonte-geral);
  font-size: 15px;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  box-shadow: 3px 3px 14px 0px rgba(27, 27, 27, 0.42);
  -webkit-box-shadow: 3px 3px 14px 0px rgba(20, 20, 20, 0.42);
  -moz-box-shadow: 3px 3px 14px 0px rgba(19, 19, 19, 0.42);
  cursor: pointer;
}

button:hover{
  box-shadow: 3px 3px 14px 0px rgba(0,0,0,0.42) inset;
  -webkit-box-shadow: 3px 3px 14px 0px rgba(0,0,0,0.42) inset;
  -moz-box-shadow: 3px 3px 14px 0px rgba(0,0,0,0.42) inset;
}

.container-blur{
  position: absolute;
  z-index: 2;
  height: 98vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  -moz-backdrop-filter: blur(5px);
  -o-backdrop-filter: blur(5px);
  -ms-backdrop-filter: blur(5px);
}

.hidden{
  display: none;
}

/* NAVEGAÇÃO */

nav {
  display: flex;
  justify-content: end;
}

.nav-container {
  width: fit-content;
  background-color: var(--verde-container);
  padding: 0 0.3em;
  border-radius: 8px;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav li {
  cursor: pointer;
  font-family: var(--fonte-geral);
  list-style: none;
  padding: 0.35em 1.2em;
  width: fit-content;
}

nav img {
  height: 35px;
  cursor: not-allowed;
}

/* ASIDES GERAL */

section {
  display: flex;
  justify-content: space-between;
  margin-top: 7%; 
}

aside {
  background-color: var(--verde-container);
  border-radius: 10px;
  scroll-behavior: smooth;
  height: 68vh;
}

/* ASIDE ESQUERDO */

.aside-esquerda {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.img-perfil {
  height: 160px;
  position: relative;
  top: -72px;
}

.aside-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -65px;
  padding: 0 10px;
}

.informacoes-container {
  background-color: var(--verde-container-secundario);
  width: fit-content;
  padding: 0 15px;
  border-radius: 5px;
  padding-bottom: 15px;
}

.center-informacoes-container{
  height: 47vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.informacoes-item{
  margin-top: 15px;
}

.titulo {
  font-family: var(--fonte-titulos);
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 1px;
}

.subtitulo {
  font-family: var(--fonte-geral);
  font-size: 15px;
  cursor: pointer;
}

.subtitulo:hover{
  text-decoration: underline;
}

.titulo img {
  height: 18px;
  margin-left: 5px;
}

h3 {
  font-family: var(--fonte-titulos);
  font-size: 25px;
}

h4 {
  font-family: var(--fonte-geral);
  font-weight: 100;
}

.texto-footer, .bold{
  font-size: 13px;
  color: var(--verde-escuro);
  opacity: 85%;
  margin-top: 15px;
}

/* ASIDE DIREITA*/

.aside-direita {
  width: 55vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
}

/* CONTEÚDO GERAL*/

h1 {
  font-family: var(--fonte-titulos);
  font-size: 37px;
  text-transform: uppercase;
  text-decoration: underline;
  margin: 30px 0;
}

.conteudo {
  overflow: auto;
  padding: 0 30px 30px 30px;
}

.conteudo p {
  font-family: var(--fonte-geral);
}

.margem-p {
  margin-top: 13px;
}

/* HABILIDADES*/

.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 1.3vw;
  row-gap: 2vh;
}

.habilidades-flex{
  display: flex;
  margin-top: 7%;
}

.container-habilidades {
  padding: 10px;
  border-radius: 5px;
}

.container-habilidades p{
  font-size: 15px;
  text-align: center;
}

.titulo-habilidades {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

h5 {
  font-family: var(--fonte-titulos);
  font-weight: 600;
  font-size: 19px;
  margin-left: 8px
}

.titulo-habilidades img {
  height: 4.5vh;
}

.escuro {
  background-color: var(--verde-habilidades);
}

.claro {
  background-color: var(--cinza-habilidades);
}

/* EDUCAÇÃO */

.educacao-container{
  display: flex;
  align-items: center;
}

.descricao-titulo{
  width: 14.2vw;
}

.educacao-container img{
  width: 2px;
  min-height: 15vh;
  margin-right: 7px;
}

.gap{
  column-gap: 2vw;
  row-gap: 15px;
}

/* PROJETOS  */

.projetos-container{
  border-radius: 10px;
  background-color: var(--verde-habilidades);
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}

.projetos-container h5{
  padding: 6px 0 6px 6px;
}

.img-projeto{
  border-radius: 10px 10px 0 0;
  width: 15vw;
  height: 16vh;
}


/* PROJETO POP-UP*/

.projeto-container{
  max-height: 70vh;
  width: 65vw;
  background-color: var(--verde-escuro);
  border-radius: 10px;
  padding: 3.5vh 3vw 5vh 3vw;
  scroll-behavior: smooth;
  overflow: auto;
}

.btn-fechar{
  color: var(--cinza-habilidades);
  font-family: var(--fonte-geral);
  font-size: 20px;
  width: 100%;
  display: flex;
  justify-content: end;
  cursor: pointer;
}

.projeto-titulo{
  color: var(--verde-container);
  margin-top: 3vh;
  font-family: var(--fonte-titulos);
  font-size: 35px;
  text-decoration: underline currentColor 1px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.projeto-desc-container{
  margin-top: 4.5vh;
}

.img-projeto-popUp{
  width: 27vw;
  border-radius: 10px;
  margin-bottom: 2vh;
}

.tecnologias-desc, .tecnologias-desc a, .projeto-texto-desc{
  font-size: 13px;
  color: var(--cinza-habilidades);
  font-family: var(--fonte-geral);
  letter-spacing: 0.5px;
}

.utilizadas{
  word-spacing: 0.25vw;
}

.tecnologias-desc a{
  text-decoration: underline currentColor 1px;
}

.tecnologias-titulo{
  color: var(--cinza-habilidades);
  font-family: var(--fonte-titulos);
  font-size: 17px;
  font-weight: 400;
}

.projeto-container-flex{
  display: flex;
}

.projeto-texto-desc{
  margin-left: 6vw;
  width: fit-content;
  text-align: justify;
  font-size: 16px;
  color: var(--verde-container);
  margin-top: 3.7vh;
}